.glk {
    width: 300px;
    border: 4px solid #212529;
    border-radius: 20px;
}

button {
    background: 000e14;
    color: #e8998d;
    font-size: xx-large;
    border: 4px solid #e8998d;
    padding: 8px 16px;
    border-radius: 24px;
}

.Glock-17 {
    background: #b8f2e6;
    text-align: center;
    color: #343a40;
}